/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --textgrey: rgba(71, 71, 71, 1);
  --codinglight-blue: rgba(208, 232, 255, 0.7);
  --gridlight-grey: rgba(176, 176, 176, 1);
  --codinglight-pink: rgba(254, 208, 238, 0.7);
  --colorsorange: rgba(255, 141, 40, 1);
  --colorsblue: rgba(0, 136, 255, 1);
  --name-font-family: "Roboto", Helvetica;
  --name-font-weight: 600;
  --name-font-size: 14px;
  --name-letter-spacing: 0px;
  --name-line-height: normal;
  --name-font-style: normal;
  --body-font-family: "Roboto", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 12px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --body-small-font-family: "Roboto", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: normal;
  --body-small-font-style: normal;
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --textgrey: rgba(71, 71, 71, 1);
  --codinglight-blue: rgba(208, 232, 255, 0.7);
  --gridlight-grey: rgba(176, 176, 176, 1);
  --codinglight-pink: rgba(254, 208, 238, 0.7);
  --colorsorange: rgba(255, 141, 40, 1);
  --colorsblue: rgba(0, 136, 255, 1);
  --name-font-family: "Roboto", Helvetica;
  --name-font-weight: 600;
  --name-font-size: 14px;
  --name-letter-spacing: 0px;
  --name-line-height: normal;
  --name-font-style: normal;
  --body-font-family: "Roboto", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 12px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --body-small-font-family: "Roboto", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: normal;
  --body-small-font-style: normal;
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --textgrey: rgba(71, 71, 71, 1);
  --codinglight-blue: rgba(208, 232, 255, 0.7);
  --gridlight-grey: rgba(176, 176, 176, 1);
  --codinglight-pink: rgba(254, 208, 238, 0.7);
  --colorsorange: rgba(255, 141, 40, 1);
  --colorsblue: rgba(0, 136, 255, 1);
  --name-font-family: "Roboto", Helvetica;
  --name-font-weight: 600;
  --name-font-size: 14px;
  --name-letter-spacing: 0px;
  --name-line-height: normal;
  --name-font-style: normal;
  --body-font-family: "Roboto", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 12px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --body-small-font-family: "Roboto", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: normal;
  --body-small-font-style: normal;
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --textgrey: rgba(71, 71, 71, 1);
  --codinglight-blue: rgba(208, 232, 255, 0.7);
  --gridlight-grey: rgba(176, 176, 176, 1);
  --codinglight-pink: rgba(254, 208, 238, 0.7);
  --colorsorange: rgba(255, 141, 40, 1);
  --colorsblue: rgba(0, 136, 255, 1);
  --name-font-family: "Roboto", Helvetica;
  --name-font-weight: 600;
  --name-font-size: 14px;
  --name-letter-spacing: 0px;
  --name-line-height: normal;
  --name-font-style: normal;
  --body-font-family: "Roboto", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 12px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --body-small-font-family: "Roboto", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: normal;
  --body-small-font-style: normal;
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --textgrey: rgba(71, 71, 71, 1);
  --codinglight-blue: rgba(208, 232, 255, 0.7);
  --gridlight-grey: rgba(176, 176, 176, 1);
  --codinglight-pink: rgba(254, 208, 238, 0.7);
  --colorsorange: rgba(255, 141, 40, 1);
  --colorsblue: rgba(0, 136, 255, 1);
  --name-font-family: "Roboto", Helvetica;
  --name-font-weight: 600;
  --name-font-size: 14px;
  --name-letter-spacing: 0px;
  --name-line-height: normal;
  --name-font-style: normal;
  --body-font-family: "Roboto", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 12px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --body-small-font-family: "Roboto", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: normal;
  --body-small-font-style: normal;
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --name-font-family: "Roboto", Helvetica;
  --name-font-weight: 600;
  --name-font-size: 14px;
  --name-letter-spacing: 0px;
  --name-line-height: normal;
  --name-font-style: normal;
}

/* The end of the injected content. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --name-font-family: "Roboto", Helvetica;
  --name-font-weight: 600;
  --name-font-size: 14px;
  --name-letter-spacing: 0px;
  --name-line-height: normal;
  --name-font-style: normal;
}
