.deteccion-button {
  background-color: #faf9fb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.deteccion-button .div {
  background-color: #faf9fb;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.deteccion-button .overlap {
  position: absolute;
  width: 891px;
  height: 703px;
  top: -213px;
  left: 300px;
}

.deteccion-button .rectangle {
  position: absolute;
  width: 577px;
  height: 537px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.deteccion-button .group {
  position: absolute;
  width: 855px;
  height: 220px;
  top: 483px;
  left: 36px;
}

.deteccion-button .overlap-group {
  position: relative;
  width: 833px;
  height: 220px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 50px #00000040;
}

.deteccion-button .text-wrapper {
  position: absolute;
  width: 95px;
  height: 20px;
  top: 73px;
  left: 279px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .secci-n-de-caf {
  position: absolute;
  width: 254px;
  height: 20px;
  top: 123px;
  left: 277px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-2 {
  position: absolute;
  width: 113px;
  height: 20px;
  top: 149px;
  left: 277px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-3 {
  position: absolute;
  width: 211px;
  height: 20px;
  top: 175px;
  left: 277px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-4 {
  position: absolute;
  width: 129px;
  height: 20px;
  top: 96px;
  left: 277px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-5 {
  position: absolute;
  width: 533px;
  height: 34px;
  top: 27px;
  left: 66px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-6 {
  position: absolute;
  width: 79px;
  height: 21px;
  top: 98px;
  left: 66px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-7 {
  position: absolute;
  width: 152px;
  height: 21px;
  top: 123px;
  left: 66px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-8 {
  position: absolute;
  width: 102px;
  height: 21px;
  top: 150px;
  left: 66px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-9 {
  position: absolute;
  width: 134px;
  height: 21px;
  top: 74px;
  left: 66px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-10 {
  position: absolute;
  width: 184px;
  height: 21px;
  top: 176px;
  left: 66px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-11 {
  position: absolute;
  width: 637px;
  height: 74px;
  top: 377px;
  left: 37px;
  font-family: "Bangers-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .overlap-wrapper {
  position: absolute;
  width: 839px;
  height: 220px;
  top: 781px;
  left: 337px;
}

.deteccion-button .manchas-amarillas-en {
  position: absolute;
  width: 751px;
  height: 92px;
  top: 100px;
  left: 52px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-12 {
  position: absolute;
  width: 502px;
  height: 36px;
  top: 24px;
  left: 54px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-13 {
  position: absolute;
  width: 287px;
  height: 22px;
  top: 77px;
  left: 54px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .overlap-2 {
  position: absolute;
  width: 644px;
  height: 963px;
  top: 117px;
  left: 1275px;
}

.deteccion-button .REA-DE-CULTIVO {
  position: absolute;
  width: 633px;
  height: 48px;
  top: 123px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #ef4229;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .warning-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 122px;
  left: 487px;
  background-color: #fef2f2;
  border-radius: 25px;
}

.deteccion-button .warning {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 10px;
}

.deteccion-button .scrollbar-classic {
  position: absolute;
  width: 27px;
  height: 963px;
  top: 0;
  left: 614px;
  background-color: #fcfcfc;
  border-right-width: 3.42px;
  border-right-style: solid;
  border-left-width: 3.42px;
  border-left-style: solid;
  border-color: #e8e8e8;
}

.deteccion-button .bar {
  position: absolute;
  width: 21px;
  height: 86px;
  top: 2px;
  left: 623px;
  background-color: #7a7a7a;
  border-radius: 342.49px;
}

.deteccion-button .overlap-group-wrapper {
  position: absolute;
  width: 855px;
  height: 220px;
  top: 524px;
  left: 336px;
}

.deteccion-button .overlap-group-2 {
  position: absolute;
  width: 362px;
  height: 45px;
  top: 155px;
  left: 68px;
}

.deteccion-button .text-wrapper-14 {
  position: absolute;
  width: 120px;
  height: 22px;
  top: 24px;
  left: 210px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-15 {
  position: absolute;
  width: 152px;
  height: 22px;
  top: 1px;
  left: 210px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-16 {
  position: absolute;
  width: 256px;
  height: 23px;
  top: 0;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-17 {
  position: absolute;
  width: 256px;
  height: 22px;
  top: 23px;
  left: 1px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .overlap-3 {
  position: absolute;
  width: 378px;
  height: 23px;
  top: 66px;
  left: 68px;
}

.deteccion-button .text-wrapper-18 {
  position: absolute;
  width: 168px;
  height: 22px;
  top: 1px;
  left: 210px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-19 {
  width: 218px;
  position: absolute;
  height: 23px;
  top: 0;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .overlap-4 {
  position: absolute;
  width: 646px;
  height: 60px;
  top: 90px;
  left: 68px;
}

.deteccion-button .text-wrapper-20 {
  position: absolute;
  width: 250px;
  height: 21px;
  top: 1px;
  left: 210px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .presencia-de-manchas {
  position: absolute;
  width: 436px;
  top: 25px;
  left: 210px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-21 {
  width: 247px;
  position: absolute;
  height: 23px;
  top: 0;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-22 {
  position: absolute;
  width: 247px;
  height: 23px;
  top: 22px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-23 {
  position: absolute;
  width: 343px;
  height: 36px;
  top: 23px;
  left: 68px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .navbar {
  position: absolute;
  width: 1920px;
  height: 125px;
  top: -540px;
  left: -960px;
}

.deteccion-button .overlap-5 {
  position: absolute;
  width: 229px;
  height: 427px;
  top: 270px;
  left: 36px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: #d9d9d9;
}

.deteccion-button .group-2 {
  position: absolute;
  width: 168px;
  height: 35px;
  top: 16px;
  left: 10px;
}

.deteccion-button .text-wrapper-24 {
  position: absolute;
  width: 139px;
  height: 35px;
  top: 0;
  left: 27px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .vuesax-bold-filter {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 0;
}

.deteccion-button .div-wrapper {
  position: absolute;
  width: 211px;
  height: 40px;
  top: 138px;
  left: 8px;
}

.deteccion-button .overlap-6 {
  position: relative;
  width: 209px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #999999;
}

.deteccion-button .text-wrapper-25 {
  position: absolute;
  width: 144px;
  height: 25px;
  top: 7px;
  left: 16px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .chevron-forward {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 172px;
}

.deteccion-button .group-3 {
  position: absolute;
  width: 211px;
  height: 42px;
  top: 78px;
  left: 8px;
}

.deteccion-button .overlap-7 {
  position: relative;
  width: 209px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #999999;
}

.deteccion-button .text-wrapper-26 {
  position: absolute;
  width: 144px;
  height: 27px;
  top: 7px;
  left: 16px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .img {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 11px;
  left: 172px;
}

.deteccion-button .group-4 {
  position: absolute;
  width: 231px;
  height: 55px;
  top: 184px;
  left: 36px;
}

.deteccion-button .overlap-8 {
  position: relative;
  width: 229px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #999999;
}

.deteccion-button .text-wrapper-27 {
  position: absolute;
  width: 158px;
  height: 35px;
  top: 9px;
  left: 48px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #999999;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .search {
  position: absolute;
  width: 30px;
  height: 32px;
  top: -345px;
  left: -916px;
}

.deteccion-button .group-5 {
  position: absolute;
  width: 839px;
  height: 220px;
  top: 1027px;
  left: 336px;
}

.deteccion-button .overlap-group-3 {
  position: absolute;
  width: 717px;
  height: 110px;
  top: 85px;
  left: 64px;
}

.deteccion-button .uso-de-insecticidas {
  position: absolute;
  width: 713px;
  height: 92px;
  top: 18px;
  left: 5px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-28 {
  position: absolute;
  width: 381px;
  height: 23px;
  top: 0;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.deteccion-button .text-wrapper-29 {
  position: absolute;
  width: 327px;
  height: 36px;
  top: 25px;
  left: 64px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
