.camara__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.camaras {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  max-width: 78dvw;
  min-width: 76dvw;
  margin: 1rem 0;
}

.camara__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contenedor__camaras {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.camara__item {
  background: var(--blanco);
  min-height: 42dvh;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.camara__item--header {
  display: flex;
  justify-content: flex-start;
  gap: .8rem;
  border-bottom: 2px solid var(--gris-claro);
  padding-bottom: .6rem;
  align-items: center;
}

.camara__item--header h4 {
  margin: 0;
}

.camara__item--header .svg-src svg {
  width: 1.8rem;
  height: auto;
}

.camara__item img {
  width: 100%;
  min-height: calc(100% - 21rem);
  border-radius: 6px;
  margin-bottom: 0.5rem;

}

.item__btns {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}