/* Hero section */
.hero--inicio,
.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.25rem;
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

.hero {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('/static/image/background/index.jpeg');
}

@supports (background-image: url('/static/image/background/index.webp')) {
    .hero {
        background-image: 
            linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
            url('/static/image/background/index.webp');
    }
}

.hero--inicio {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('/static/image/background/inicio.jpeg');
}

@supports (background-image: url('/static/image/background/index.webp')) {
    .hero--inicio {
        background-image: 
            linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
            url('/static/image/background/inicio.webp');
    }
}


.hero__logo {
  height: 5rem;
  margin-bottom: 1.875rem;
}

.hero__title {
  color: var(--cafe);
  margin-bottom: 1.25rem;
}

.hero__subtitle {
  font-size: var(--text-2xl);
  margin-bottom: 1.875rem;
  max-width: 50rem;
}

.hero .svg-inline {
  max-width: 14rem;
  height: auto;
}

.btn--suscribe{
  font-size: var(--text-lg);
  background-color: var(--blanco);
  cursor: pointer;
  margin-top: .4rem;
}

.btn--suscribe:hover {
  background-color: #e9e9e9;
  box-shadow: 2px 2px 0px var(--gris);
}

.hero__price {
  margin-top: 1.875rem;
  font-size: var(--text-xl);
}