<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Oculus{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='image/logo.svg') }}" type="image/svg+xml">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">

    <!-- Estilos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

    <!--Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <!-- NAVBAR -->
    <nav class="nav">
        <!-- Logo -->
        <div class="nav__logo">
            <a href="{{ url_for('index') }}" class="nav__logo--link">
                <div class="svg-src" data-src="logo">
                </div>
                <span> Oculus </span>
            </a>
        </div>

        <!-- Menú -->
        <ul class="nav__menu">
            <li class="nav__menu--item {% if active_page == 'inicio' %}active{% endif %}">
                <a href="{{url_for('inicio.menu_inicio')}}" class="nav__menu--link">
                    <div class="svg-src" data-src="inicio"></div>
                    Inicio
                </a>
            </li>
            <li class="nav__menu--item {% if active_page == 'reporte' %}active{% endif %}">
                <a href="{{url_for('reporte.vista_reporte') }}" class="nav__menu--link">
                    <div class="svg-src" data-src="reporte">
                    </div>
                    Reportes
                </a>
            </li>
            <li class="nav__menu--item {% if active_page == 'camara' %}active{% endif %}">
                <a href="{{ url_for('camara.vista_camara') }}" class="nav__menu--link">
                    <div class="svg-src" data-src="camara"></div>
                    Cámaras
                </a>
            </li>
            <li class="nav__menu--item {% if active_page == 'deteccion' %}active{% endif %}">
                <a href="{{ url_for('deteccion.vista_detecciones') }}" class="nav__menu--link">
                    <div class="svg-src" data-src="deteccion">
                    </div>
                    Detecciones
                </a>
            </li>
            <li class="nav__menu--item {% if active_page == 'ajuste' %}active{% endif %}">
                <a href="{{url_for('construccion')}}" class="nav__menu--link">
                    <div class="svg-src" data-src="ajuste"></div>
                    Ajustes
                </a>
            </li>
        </ul>

        <!-- Perfil -->
        <div class="nav__profile">
            <!-- Notificaciones -->
            <div class="nav__notifications dropdown">
                <button class="nav__notifications-button dropdown__toggle">
                    <div class="nav__notifications-icon svg-src" data-src="notifications"></div>
                    <span class="notif__badge" id="notifBadge"></span>
                </button>
                <div class="dropdown__menu">
                    <div class="dropdown__header">
                        <h6>Notificaciones</h6>
                        <div class="dropdown__header--buttons">
                            <button class="notif__mark-all" title="Marcar todo como leído" onclick="markAllAsRead()">
                                <div class="svg-src" data-src="tasks"></div>
                            </button>
                            <a class="notif__manage" title="Administrar todas las notificaciones"
                                href="{{url_for('notificacion.vista_notificaciones')}}">
                                <div class="svg-src" data-src="edit"></div>
                            </a>
                        </div>

                    </div>
                    <div class="dropdown__menu--notifications">
                        <div class="dropdown__menu dropdown__menu--notifications">

                        </div>
                    </div>


                </div>
            </div>

            <!-- Perfil de usuario -->
            <div class="nav__user dropdown">
                <button class="nav__user-button dropdown__toggle">
                    <img src="{{ url_for('auth.ver_foto_usuario') }}" alt="Foto de perfil" class="nav__user-avatar">
                </button>
                <div class="dropdown__menu dropdown__menu--user">
                    <div class="dropdown__header">
                        <h6>{{ session['username'] }}</h6>
                    </div>
                    <div class="dropdown__divider"></div>
                    <div class="dropdown__item">
                        <a href="{{url_for('auth.vista_perfil')}}" class="dropdown__item--link">
                            <div class="svg-src" data-src="user">
                            </div>
                            Personalizar Perfil
                        </a>
                    </div>
                    <div class="dropdown__item">
                        <a class="dropdown__item--link" onclick="abrirModalCambiarContrasena()">
                            <div class="svg-src" data-src="password"></div>
                            Cambiar Contraseña
                        </a>
                    </div>
                    <div class="dropdown__item">
                        <a href="{{url_for('construccion')}}" class="dropdown__item--link">
                            <div class="svg-src" data-src="ayuda"></div>
                            Ayuda
                        </a>
                    </div>
                    <div class="dropdown__divider"></div>
                    <div class="dropdown__item">
                        <a href="{{ url_for('auth.cerrar_sesion') }}"
                            class="dropdown__item--link dropdown__link--danger">
                            <div class="svg-src" data-src="logout"></div>
                            Cerrar sesión
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="flash-message" class="flash-container"></div>
    <script>
        /** @type {Array<[string, string]>} */
        window.flaskMessages = {{ get_flashed_messages(with_categories = true) | tojson }};
    </script>

    <!-- Contenido principal -->
    <main class="contentainer">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        {% block footer %}{% endblock %}
    </footer>

    <!-- Scripts -->
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validators.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contrasenia.js') }}"></script>
</body>

</html>