.signin-button {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.signin-button .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.signin-button .overlap {
  position: absolute;
  width: 1920px;
  height: 1280px;
  top: -97px;
  left: 0;
}

.signin-button .backgroud {
  position: absolute;
  width: 1920px;
  height: 1280px;
  top: 0;
  left: 0;
}

.signin-button .image {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 97px;
  left: 0;
  object-fit: cover;
}

.signin-button .group {
  position: absolute;
  width: 1082px;
  height: 787px;
  top: 244px;
  left: 422px;
  box-shadow: 4px 4px 20px #00000040;
}

.signin-button .overlap-group {
  position: absolute;
  width: 514px;
  height: 787px;
  top: 0;
  left: 0;
  background-image: url(./img/lateral.png);
  background-size: cover;
  background-position: 50% 50%;
}

.signin-button .rectangle {
  position: absolute;
  width: 514px;
  height: 166px;
  top: 621px;
  left: 0;
  background-color: #f4ededc2;
  border-radius: 5px;
}

.signin-button .img {
  position: absolute;
  width: 293px;
  height: 96px;
  top: 656px;
  left: 110px;
}

.signin-button .overlap-2 {
  position: absolute;
  width: 562px;
  height: 787px;
  top: 0;
  left: 514px;
  background-color: #ffffff;
  border-radius: 5px;
}

.signin-button .form {
  position: absolute;
  width: 218px;
  height: 64px;
  top: 103px;
  left: 58px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  border-color: #525252;
}

.signin-button .form-2 {
  width: 218px;
  top: 104px;
  left: 286px;
  position: absolute;
  height: 64px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  border-color: #525252;
}

.signin-button .visibility-wrapper {
  position: absolute;
  width: 445px;
  height: 64px;
  top: 352px;
  left: 58px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  border-color: #525252;
}

.signin-button .visibility {
  position: absolute;
  width: 30px;
  height: 32px;
  top: 14px;
  left: 396px;
}

.signin-button .form-3 {
  width: 445px;
  top: 186px;
  left: 58px;
  position: absolute;
  height: 64px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  border-color: #525252;
}

.signin-button .luggage-wrapper {
  position: absolute;
  width: 445px;
  height: 64px;
  top: 268px;
  left: 58px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  border-color: #525252;
}

.signin-button .luggage {
  position: absolute;
  width: 30px;
  height: 32px;
  top: 16px;
  left: 396px;
}

.signin-button .img-wrapper {
  position: absolute;
  width: 445px;
  height: 64px;
  top: 428px;
  left: 58px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  border-color: #525252;
}

.signin-button .div-wrapper {
  position: absolute;
  width: 446px;
  height: 59px;
  top: 660px;
  left: 58px;
  background-color: #348b58;
  border-radius: 5px;
}

.signin-button .text-wrapper {
  position: absolute;
  width: 445px;
  height: 59px;
  top: 0;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.signin-button .group-2 {
  position: absolute;
  width: 426px;
  height: 22px;
  top: 514px;
  left: 59px;
}

.signin-button .ellipse {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  background-color: #b7b7b7;
  border-radius: 11px;
}

.signin-button .p {
  position: absolute;
  width: 394px;
  height: 20px;
  top: 2px;
  left: 30px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4f4f4f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.signin-button .group-3 {
  position: absolute;
  width: 426px;
  height: 22px;
  top: 545px;
  left: 59px;
}

.signin-button .text-wrapper-2 {
  position: absolute;
  width: 394px;
  height: 20px;
  top: 1px;
  left: 30px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #4f4f4f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.signin-button .group-4 {
  position: absolute;
  width: 426px;
  height: 22px;
  top: 575px;
  left: 59px;
}

.signin-button .text-wrapper-3 {
  position: absolute;
  top: 33px;
  left: 203px;
  font-family: "Bangers-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.signin-button .text-wrapper-4 {
  position: absolute;
  width: 418px;
  height: 27px;
  top: 615px;
  left: 88px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #525252;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.signin-button .check-box {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 618px;
  left: 59px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1.5px solid;
  border-color: #525252;
}

.signin-button .overlap-group-wrapper {
  position: absolute;
  width: 184px;
  height: 23px;
  top: 737px;
  left: 184px;
}

.signin-button .overlap-group-2 {
  position: relative;
  width: 182px;
  height: 23px;
}

.signin-button .text-wrapper-5 {
  position: absolute;
  width: 133px;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #9ea3a2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.signin-button .links {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 4px;
  position: absolute;
  top: 0;
  left: 128px;
  border-radius: 5px;
  overflow: hidden;
}

.signin-button .registrate {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #2f80ed;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.signin-button .placeholder {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 3px 8px;
  position: absolute;
  top: 660px;
  left: 1005px;
  background-color: #ffffff;
  border-radius: 1px;
}

.signin-button .text {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.signin-button .placeholder-2 {
  top: 583px;
  left: 1005px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 3px 8px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 1px;
}

.signin-button .placeholder-3 {
  top: 499px;
  left: 1005px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 3px 8px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 1px;
}

.signin-button .placeholder-4 {
  top: 417px;
  left: 1005px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 3px 8px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 1px;
}

.signin-button .placeholder-5 {
  top: 334px;
  left: 1238px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 3px 8px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 1px;
}

.signin-button .placeholder-6 {
  top: 334px;
  left: 1005px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 3px 8px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 1px;
}

.signin-button .mail {
  position: absolute;
  width: 30px;
  height: 32px;
  top: -192px;
  left: 432px;
}
