{% extends "layout/base.html" %}

{% block title %}Monitoreo en Tiempo Real{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/camara.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/filtros.css') }}">
{% endblock %}

{% block content %}
<h2>Monitoreo en Tiempo Real</h2>

<div class="camara__container">

  <!-- Filtro lateral -->
  <aside class="filtros">
    <div class="filtro__header">
      <div class="svg-src" data-src="filter"></div>
      <h4>Filtros</h4>
    </div>

    <!-- Filtro de Parcelas -->
    <div class="filtros__grupo">
      <label for="filtroParcelas" class="filtros__etiqueta">Parcela</label>
      <select id="filtroParcelas" class="filtros__select">
        <option value="todas">Todas</option>
        <option value="parcela-a">Parcela A</option>
        <option value="parcela-b">Parcela B</option>
        <option value="parcela-c">Parcela C</option>
      </select>
    </div>

    <!-- Filtro de Áreas -->
    <div class="filtros__grupo">
      <label for="filtroAreas" class="filtros__etiqueta">Área</label>
      <select id="filtroAreas" class="filtros__select">
        <option value="todas">Todas</option>
        <option value="area-1">Área 1</option>
        <option value="area-2">Área 2</option>
        <option value="area-3">Área 3</option>
      </select>
    </div>
  </aside>

  <!-- Modal de registro de camara -->
  <div id="modalRegistroCamara" class="modal__background" aria-hidden="true">
    <div class="modal modal--small modal__registrocamara">
      <button class="modal__close" onclick="cerrarModal('modalRegistroCamara')">
        <div class="svg-src" data-src="cerrar"></div>
      </button>
      <h4>Registrar nueva cámara</h4>
      <form action="{{ url_for('camara.registrar_camara') }}" method="POST">
        <div class="modal__group">
          <input class="modal__input" type="text" name="nombre" placeholder=" " required>
          <label class="modal__label">Nombre</label>
        </div>
        <div class="modal__group">
          <input class="modal__input" type="text" name="ubicacion" placeholder=" ">
          <label class="modal__label">Ubicación</label>
        </div>
        <div class="modal__group">
          <input class="modal__input" type="text" name="url" placeholder=" " required>
          <label class="modal__label">URL de la Cámara</label>
        </div>
        <div class="modal__footer">
          <button type="submit" class="btn btn__primary">Registrar</button>
          <button type="button" class="btn btn__secondary"
            onclick="cerrarModal('modalRegistroCamara')">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="camaras">
    <div class="camara__header">
      <button class="btn btn__primary" onclick="abrirModal('modalRegistroCamara')">
        <div class="svg-src" data-src="añadir"></div>
        Registrar nueva cámara
      </button>
    </div>
    <!-- Contenido -->
    <section id="listaCamaras" class="contenedor__camaras">
      <!-- camaras.js -->
    </section>

  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/camaras.js') }}"></script>
{% endblock %}